<style>
    div#left {
    width: 100%;
    }
    #sp-content {
    text-align: center;
    background: #fff;
    padding: 20px;
    }
    #SpSubHead {
    width:auto!important;
    margin: 20px auto!important;;
    background: none!important;;
    }
    #SpTitleBar {
    border-bottom: none!important;
    height: 80px;
    background: #37436f;
    margin: 20px;
    padding: 24px;
    color: #f1f1f1;
    font-size: 18px;
    -webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.22);
    -moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.22);
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.22);
    }
    form{
      width: auto!important;
    margin: 15px auto;
    display: inline-block;
    text-align: center;
    }
</style>
