#PageBody {
    margin-top: 0px!important;
    background-color: #f1f1f1!important;
}

#itoolbar_bg, .toolbar-out {
    background-color: #232C36!important;
}

#itoolbar a {
    font-size: 13px!important;
    background: none!important;
    padding: 0px 10px!important;
}

#mainmenu{
      margin-bottom: 20px!important;
}

#header {
    height: auto!important;
}

#header img {
    margin: 20px 0px!important;
    max-width: 100%;
    float: left;
    width: 275px;
}

.navbar-collapse {
    background-color: #fff;
  }

.nav>li>a:hover, .nav>li>a:focus {
      background-color: #2E4171!important;
      color: #fff!important;
  }

.nav>li>a {
    transition: all 0.5s ease;
  }

#FooterContentArea {
    background-color: #fff!important;
    margin-top: 40px!important;
    padding: 40px 0!important;
}

#homepage-footer p{
  color:#2E4171!important;
}

#homepage-footer a {
  color:#2E4171!important;
  text-decoration:underline!important;
  -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#homepage-footer a:hover, #homepage-footer a:focus, #homepage-footer a:active {
  color:#232C36!important;
}

#homepage-footer .timeline-Widget {
    color: #2E4171!important;
}

.hp-left-out .row{
  margin:0 auto!important;
}

#hp-left{
  background: #fff!important;
  padding: 20px!important;
  }

  .irailhead, .irailcontent{
    text-align:center;
  }

  .irailhead{
    padding: 23px 10px;
    font-size: 150%;
    height: auto!important;
    line-height: normal!important;
    margin: 10px -15px 10px 10px;
    background: #2E4171!important;
    color:#f1f1f1!important;
    -webkit-box-shadow: -5px 5px 5px 0px rgba(0,0,0,0.22);
  -moz-box-shadow: -5px 5px 5px 0px rgba(0,0,0,0.22);
  box-shadow: -5px 5px 5px 0px rgba(0,0,0,0.22);
  }

  #hp-main #login {
    position: relative;
    left: 8px;
    background: #fff;
    padding: 10px;
  }

  #homepagefooter i{
    margin-bottom:10px;
  }

  input[type=submit], .formbutton {
    background: #eaeaea!important;
    padding: 7px 20px;
    color: #595959;
    border: none;
    border-radius: 5px;
  }

  #icopyright {
      background-color: #eaeaea!important;
      padding: 10px!important;
  }

  #copyright-inner {
    color: #595959!important;
  }

  #copyright-inner a{
    color:#595959!important;
  }

  #homepage-buttons .btn {
    display: inline-block;
    background:#2E4171;
    color:#fff!important;
    border-radius:0px;
    text-decoration:none;
    -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      -ms-transition: all 0.3s ease;
      transition: all 0.3s ease;
      padding: 10px 15px;
      margin: 0px 5px;
      border-radius: 3px;
  }

  #homepage-buttons .btn:hover, #homepage-buttons .btn:focus{
    background:#595959!important;
    color:#fff!important;
    text-decoration:underline;
  }

  .calloutbox {
    text-align: center;
    background: #fff;
    border: 1px solid #2E4171;
    border-radius: 10px;
  }

  #sp-content{
    text-align: center;
    background: #fff;
  }

  .s2f-title{
    background: #37436f;
    margin: -15px -15px 30px -40px;
    padding: 24px;
    color: #f1f1f1;
    font-size: 18px;
    -webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.22);
    -moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.22);
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.22);
  }

  .hp-image-box {
    display: inline-block;
    overflow: hidden;
    position: relative;
    margin: 0 auto;
    padding: 0;
    }

  .hp-image-box img {
    max-width: 80%;
    margin: 15px auto;
    flex: auto;
  }

  .hp-image-text{
    bottom: 0px;
    margin: 0 auto;
    width: 100%;
    padding: 10px;
    color: #595959;
    font-size: 60%;
text-transform: uppercase;
  }

/*sections to hide*/
.bottom-left-out, .bottomcontentarea-out, .mainmenu-out, .toolbar-out, .facebook, .linkedin, .or-option {
  display:none!important;
}
